body {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #0482ef;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

#aquarium {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

#toolbar {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    position: fixed;
    background-color: #04823f;
}

#soal_quiz {
    align-self: center;
    height: 10%;
    width: 50%;
    background-color: #0482ef;
}

#time {
  align-self: flex-end;
}

#end-game-screen {
  display: flex; 
  visibility: hidden;
  justify-content: center ;
  align-items: center ;
  width: 100% ;
  height: 100% ;
  position: absolute; 
  background-color: rgba(128, 128, 128, 0.55);
}

#end-game {
  display: flex;
  justify-self: center;
  align-self: center;  
  position: relative ;
  background-color: #8B22DE;
  padding: 10px;
}

#loading-screen {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(236, 236, 236, 0.6);
}

#loading-frame{
  background: rgb(0, 0, 0);
  border-radius: 25%;
  padding: 20px;
}

.loading {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    color: #854f1d;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
    opacity: 100%;
  }
  .loading::before,
  .loading::after {    
    content: "";
    grid-area: 1/1;
    background:
      linear-gradient(currentColor 0 0) center,
      linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px,10px 100%;
    background-repeat: no-repeat;
  }
  .loading::after {
     transform: rotate(45deg);
  }
  
  @keyframes l19 { 
    100%{transform: rotate(1turn)}
  }